table{
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: larger;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px ;
}
.bouton-acheter {
    background-color: #4caf50;
    color: rgb(221, 245, 9);
    padding: 10px 10px;
    font-size: 20px;
    border: red;
    border-radius: 10px;
    cursor: pointer;

}
video{
    padding-left: 30px;
    padding-top: 30px;
}
img{
    padding-left: 200px;
}
thead{
    color: yellow;
    font-family: "Roboto";
    font-size: large;
    
}
caption{
    color: rgb(255, 255, 255);
    font-family: "Roboto";
    font-size: larger;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px ;

}
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    width: auto;


    border: 3px solid rgb(251, 255, 0);
  }
  
  thead th:nth-child(1) {
    width: 30%;
  }
  
  thead th:nth-child(2) {
    width: 20%;
  }
  
  thead th:nth-child(3) {
    width: 15%;
  }
  
  thead th:nth-child(4) {
    width: 35%;
  }
  
  th,
  td {
    padding: 20px;
  }
h1 {
    color: red;
    text-align: center;
    text-shadow:  0px -4px 14px rgb(221, 255, 0);}
    h2{
        color:blue;
        text-align: initial;
        text-shadow:  0px -4px 14px rgb(221, 255, 0);
padding-left: 50px;
        
    }
body{


    margin: 0;
    padding: 0;
    background: url(./ss.png) center/cover ;
    min-height: 100vh;
    font-family:"Roboto";
     
   


}
.navbar ul{
    list-style: none;
    background: red;
    padding: 0;
    margin: 0;
    text-align: right;

}
.navbar li{
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color: yellow;
    width: 80px;
    display: block;
    padding: 25px 20px;
    text-transform: uppercase;
    font-weight: bold;
font-family:"Roboto" ;
    text-align: center;
    font-size: 14px;


}
.navbar a:hover{
    background: rgba(red, green, blue, alpha)

}

.form{
    border-radius: 2px;
    border: solid 1px Red;
    background-color: black;
}